* {
  margin: 0px;
  padding: 0px;
}
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax p {
  padding-left: 50%;
  padding-top: 50%;
  font-size: 10px;
}

.uno {
  background-image: url("img/no.jpeg");
}

.dos {
  background-image: url("img/yes.jpeg");
}

.container {
  background-color: black;
  width: 100%;
  padding-top: 50px;
  display: inline-block;
  position: absolute;
}

/* If you want text inside of the container */
.text {
	color: aliceblue;
	position: absolute;
	top: 100;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
  }
  